@import "../../styles/variables.sass"

.roadmap__main
    margin-top: -1px
    background: #F0F0F0
    height: 541px
    overflow-x: hidden

    h2
        width: 40%

.roadmap__header
    display: flex
    justify-content: space-around

.roadmap__easter__egg
    width: 494px

.roadmap__scroll
    margin-top: 10px
    width: 100%
    display: flex
    justify-content: center
    align-items: center

.menu__item
    display: flex
    justify-content: flex-end
    align-items: center
    flex-direction: column
    user-select: none
    // width: 100vw

.left__arrow__active
    cursor: pointer
    transform: rotate(180deg)

.right__arrow__active, .right__arrow__disabled
    margin-right: 40px
    margin-left: 40px

.right__arrow__disabled
    transform: rotate(180deg)

.right__arrow__active
    cursor: pointer

.roadmap__arrow

.card
    box-sizing: border-box
    display: flex
    flex-direction: column
    align-items: flex-start
    margin: 0 30px
    padding: 20px 40px
    gap: 12px
    width: 362px
    // height: 290px
    background: #2B2426
    box-shadow: 2px 4px 8px #8F8F8F
    border-radius: 20px

    h3
        color: $white
        margin-top: 0
        margin-bottom: 0

    h4
        color: $lightBlue
        margin-top: 0
        margin-bottom: 0

    p
        font-family: $interFont
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 135%
        color: $lightGray

.triangle__container
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    margin-top: -14px

.bottom__triangle
    width: 24px
    height: 24px
    background: $darkGray
    transform: rotate(-45deg)

.line__container
    width: 100%
    margin-top: 20px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding-bottom: 10px

    hr
        width: 100%
        border: 2px solid $lightBlue
        background: $lightBlue

.line__triangle
    width: 24px
    height: 24px
    background: $lightBlue
    transform: rotate(-45deg)
    margin-top: -21.5px

.react-horizontal-scrolling-menu--wrapper
    flex-wrap: wrap
    justify-content: flex-end
    width: 100%

// .react-horizontal-scrolling-menu--separator
    // display: none

.react-horizontal-scrolling-menu--scroll-container
    order: 1
    flex-basis: 100%
    flex-shrink: 0

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar
    display: none

.react-horizontal-scrolling-menu--scroll-container
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
